{% extends "base.html" %}


{% block content %}
 {% include "navigation.html" %}

<!-- ============================================================================================ -->
			<!-- banner start -->

			<div class="banner video-background-banner pv-40 dark-translucent-bg hovered">
				<!-- breadcrumb start -->
				<!-- ================ -->
	
				<!-- breadcrumb end -->

				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">About Us</h2>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.</p>
						</div>
					</div>
				</div>

			</div>
			<!-- banner end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container">
				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<div class="row">
								<div class="col-md-4 ">
									<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon without-bg"><i class="fa fa-diamond"></i></span>
										<div class="body">
											<h4 class="title">We Have Strong Background</h4>
											<p>The team endevours to be consistent and trustworthy when delivering services to its clients..</p>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 ">
									<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
										<span class="icon without-bg"><i class="fa fa-connectdevelop"></i></span>
										<div class="body">
											<h4 class="title">We Love Details</h4>
											<p>The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.</p>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 ">
									<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon without-bg"><i class="fa icon-snow"></i></span>
										<div class="body">
											<h4 class="title">We Use Latest Technologies</h4>
											<p>The team will deliver value in an honest and ethical manner to all clients, by maintaining the highest moral standards...</p>
											
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4 ">
									<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon without-bg"><i class="fa fa-heart"></i></span>
										<div class="body">
											<h4 class="title">We Love to Deliver</h4>
											<p>The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.</p>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 ">
									<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="150">
										<span class="icon without-bg"><i class="fa fa-cogs"></i></span>
										<div class="body">
											<h4 class="title">We Are Extremely Flexible</h4>
											<p>The team will deliver value in an honest and ethical manner to all clients, by maintaining the highest moral standards...</p>
											
										</div>
									</div>
								</div>
								<div class="col-md-4 ">
									<div class="feature-box-2 object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon without-bg"><i class="fa icon-lifebuoy"></i></span>
										<div class="body">
											<h4 class="title">We Will Support You</h4>
											<p>The team will deliver value in an honest and ethical manner to all clients, by maintaining the highest moral standards...</p>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>
			</section>
			<!-- main-container end -->

			<!-- section start -->
			<!-- ================ -->
			<section class="object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">
				<div class="full-width-section">
					<div class="full-image-container hovered">
						
						<div class="full-image-overlay text-right">
							<h3>What <strong>We Offer</strong></h3>
							<ul class="list-icons">
								<li>We are here to support you <i class="icon-check-1"></i></li>
								<li>Free updates <i class="icon-check-1"></i></li>
								<li>24hrs Support <i class="icon-check-1"></i></li>
								<li>Free TRansport To Sites<i class="icon-check-1"></i></li>
								<li>Support <i class="icon-check-1"></i></li>
								<li>Unlimited options and variations <i class="icon-check-1"></i></li>
							</ul>
						</div>
					</div>
					<div class="full-text-container light-gray-bg border-bottom-clear">
						<h2>Why <strong>Choose Us</strong></h2>
						<div class="separator-2 visible-lg"></div>
						<p>The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.
                            The team strives to align its business performance toward serving its clients' needs.Offering you 24/7 support all along.

                        </p>
						<div class="separator-3 visible-lg"></div>
						<a href="{% url 'contact' %}" class="btn btn-default btn-animated">Contact Us <i class="pl-5 fa fa-envelope-o"></i></a>
					</div>
				</div>
			</section>
			<!-- section end -->

			<!-- section start -->
		
		
			<div class="clearfix"></div>
			<!-- section end -->

			<!-- ============================================================================================ -->
            {% include "testimony.html" %}
            {% include "footer.html" %}
            {% endblock content %}