{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
 {% include "navigation.html" %}
  
<!--MAKING OF THE SECTION CONTAINING THE FEATURED PROPERTIES SECTION -->
<section class="section pv-30">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-center">
			<h2 class="title"><span class="text-muted">OUR</span> <span class="text-default"> PROPERTIES</span></h2>
				<div class="separator"></div>
				</div>
				</div>
				</div>

</section>
<section>
<div class="container-fluid">
<div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20 bordered light-gray-bg">
										<div class="overlay-container overlay-visible">
											<img src="{% static "images/2.jpg" %}" alt="">
											<div class="overlay-bottom text-left">
												<p class="lead margin-clear">kamulu</p>
											</div>
										</div>
										<div class="body">
											<p class="small mb-10 text-muted"><i class="icon-calendar"></i> june,2017 <i class="fa fa-map-marker"></i> Nairobi block 118/1085 </p>
											<p>Nairobi block 118/1085 - located at kamulu, ruai 1km from kgd road,size (40*60)price 600,000 ksh.</p>											<a href="#" class="btn btn-default btn-sm btn-hvr hvr-sweep-to-right margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20 bordered light-gray-bg">
										<div class="overlay-container overlay-visible">
											<img src="{% static "images/3.jpg" %}" alt="">
											<div class="overlay-bottom text-left">
												<p class="lead margin-clear"> stage 26, ruai</p>
											</div>
										</div>
										<div class="body">
											<p class="small mb-10 text-muted"><i class="icon-calendar"></i> july, 2017 <i class="fa fa-map-marker"></i> Nairobi block 118/124 </p>
											<p> Nairobi block 118/124 - located at stage 26, ruai 1km from kgd road,size (40*60)price 630,000 ksh.</p>
											<a href="#" class="btn btn-default btn-sm btn-hvr hvr-sweep-to-right margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20 bordered light-gray-bg">
										<div class="overlay-container overlay-visible">
											<img src="{% static "images/3.jpg" %}" alt="">
											<div class="overlay-bottom text-left">
												<p class="lead margin-clear">Lulu court</p>  
											</div>
										</div>
										<div class="body">
											<p class="small mb-10 text-muted"><i class="icon-calendar"></i> june, 2017 <i class="fa fa-map-marker"></i> Lulu court </p>
											<p>  Lulu court (ready title)- located at stage 26, ruai 1.8km from kgd road, size(40*80) price 650,000 ksh. .</p>
											<a href="#" class="btn btn-default btn-sm btn-hvr hvr-sweep-to-right margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20 bordered light-gray-bg">
										<div class="overlay-container overlay-visible">
											<img src="{% static "images/1.jpg" %}" alt="">
											<div class="overlay-bottom text-left">
												<p class="lead margin-clear"> kamulu </p>
											</div>
										</div>
										<div class="body">
											<p class="small mb-10 text-muted"><i class="icon-calendar"></i> july, 2017 <i class="fa fa-map-marker"></i> Nairobi block 118/1085 </p>
											<p>Nairobi block 118/1085 - located at kamulu, ruai 1km from kgd road,size (40*60)price 600,000 ksh.</p>
											<a href="#" class="btn btn-default btn-sm btn-hvr hvr-sweep-to-right margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20 bordered light-gray-bg">
										<div class="overlay-container overlay-visible">
											<img src="{% static "images/2.jpg" %}" alt="">
											<div class="overlay-bottom text-left">
												<p class="lead margin-clear"> Lulu court</p>
											</div>
										</div>
										<div class="body">
											<p class="small mb-10 text-muted"><i class="icon-calendar"></i> june, 2017 <i class="pl-10 icon-tag-1"></i> Lulu court</p>
											<p> Lulu court (ready title)- located at stage 26, ruai 1.8km from kgd road, size(40*80) price 650,000 ksh.</p>
											<a href="#" class="btn btn-default btn-sm btn-hvr hvr-sweep-to-right margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="image-box style-2 mb-20 bordered light-gray-bg">
										<div class="overlay-container overlay-visible">
											<img src="{% static "images/1.jpg" %}" alt="">
											<div class="overlay-bottom text-left">
												<p class="lead margin-clear">stage 26, ruai</p>
											</div>
										</div>
										<div class="body">
											<p class="small mb-10 text-muted"><i class="icon-calendar"></i> july, 2017 <i class="fa fa-map-marker"></i> Nairobi block 118/124</p>
											<p>  Nairobi block 118/124 - located at stage 26, ruai 1km from kgd road,size (40*60)price 630,000 ksh  </p>
											<a href="#" class="btn btn-default btn-sm btn-hvr hvr-sweep-to-right margin-clear">Read More<i class="fa fa-arrow-right pl-10"></i></a>
										</div>
									</div>
								</div>
							</div>
           



</div>


</section>
{% include "testimony.html" %}
{% include "footer.html" %}
{% endblock content %}